{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<h1>Report</h1>

<div class="grid-container">

 <div class="grid-item">
  <h2>Innehållsförteckning</h2>
  <ul>
   <li><a href="#komom01">Komom01</a>
   <ul>
    <li>test1</li>
    <li>test2</li>
    <li>test3</li>
    <li>test4</li>
   </ul>
   </li>
   <li><a href="#komom02">Komom02</a> 
   <ul>
    <li>test1</li>
    <li>test2</li>
    <li>test3</li>
    <li>test4</li>
   </ul>
   </li>
  </ul>
 </div>
 <div class="grid-item">
    <div id="kmom01">
     <h2>Kmom01</h2>
     <p><p>Lorem ipsum dolor sit amet. Id esse animi qui dolorem voluptatem a laboriosam laboriosam id aliquid voluptatem est corporis placeat et veniam modi ex dignissimos voluptatum. Rem nostrum odit qui voluptatem quibusdam hic doloribus Quis eum laborum iusto rem repellendus repudiandae. Id quos nostrum hic unde reiciendis aut quia rerum est cumque eius. Non quasi numquam hic eveniet voluptates ab cupiditate sint. </p><p>Est deserunt facilis et asperiores quidem aut consequatur voluptas et temporibus eligendi et perferendis temporibus. Et asperiores inventore aut quod deserunt non quia ratione et consequatur error qui enim maiores non assumenda amet. </p><p>Est rerum mollitia qui saepe dolores ut odio distinctio nam voluptates eaque et impedit fuga in quis provident id quisquam quia. Et laborum tenetur aut dolor aspernatur id ratione dolore. Quo repellat nulla qui explicabo Quis rem eaque deserunt aut dolorem porro? Eos aspernatur fugiat qui voluptatibus fugit qui iste obcaecati. </p>
    </p>
    </div>
 </div>
 <!-- You can add more grid items as needed -->
</div>

{% endblock %}